.my-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons-container {
    display: flex;
}

.footer-icons {
    color: hsl(223, 87%, 63%);
    margin-right: 5px;
}

.copyright-text {
    color: hsl(0, 0%, 59%)
}